<div class="row editable container-fluid editable2">

    <div class="secc1">

        <div class="row row-body">
            <div class="row-element col-sm-6 col-md-4">
                <img src="resources/image/botonEngranes.svg" alt="botonEngranes">
                <p class="editable thin"> Conoce tus áreas de oportunidad </p>
                <button type="button" class="btn btn-primary" ng-click="mainCtrl.startForm($event.currentTarget)">COMIENZA YA!</button>
            </div>
            <div class="row-element col-sm-6 col-md-4">
                <img src="resources/image/botonFoco.svg" alt="botonFoco">
                <p class="editable thin"> Haz eficiente tu empresa, optimiza recursos financieros y humanos </p>
                <button type="button" class="btn btn-primary" ng-click="mainCtrl.startForm($event.currentTarget)">COMIENZA YA!</button>
            </div>
            <div class="row-element col-sm-6 col-md-4">
                <img src="resources/image/botonLupa.svg" alt="botonLupa">
                <p class="editable thin"> ¿Ya sabes qué mejorar? </p>
                <button type="button" class="btn btn-primary" ng-click="mainCtrl.startForm($event.currentTarget)">COMIENZA YA!</button>
            </div>      
        </div>
    </div>
    <div class="secc2">
        <div class="row row-title col-sm-12">
            <h3 class="editable thin">Haz &nbsp;<span class="bold">CLICK</span>&nbsp; y avanza</h3>
        </div>
    
        <div class="row row-body">
            <div class="row-element col-sm-12">
                <img src="resources/image/botonWifi.svg" alt="botonWifi">
                <p class="editable"> La tecnología en tu negocio </p>
                <p class="editable"> <span class="thin"> Desarrollo de Aplicaciones móviles IOS y Android <br> Desarrollo de software a la medida <br> Desarrollo Web </span> </p>
                <button type="button" class="btn btn-primary" ng-click="mainCtrl.startForm($event.currentTarget)">COMIENZA YA!</button>
            </div>
        </div>
    </div>
</div>