<div class="row editable container-fluid editable1">

    <div class="secc1">
        <div class="row row-title col-sm-12">
            <h3 class="editable">Si Buscas</h3>
        </div>
    
        <div class="row row-body">
            <div class="row-element col-sm-6 col-md-4">
                <h3 class="editable">Crecer</h3>
                <img src="resources/image/dummyCrecer.png" alt="dummyCrecer">
            </div>
            <div class="row-element col-sm-6 col-md-4">
                <h3 class="editable">Triunfar</h3>
                <img src="resources/image/dummyMejorar.png" alt="dummyMejorar">
            </div>
            <div class="row-element col-sm-6 col-md-4">
                <h3 class="editable">Ganar más</h3>
                <img src="resources/image/dummyGanar.png" alt="dummyGanar">
            </div>      
        </div>
    </div>
    <div class="secc2">
        <div class="row row-title col-sm-12">
            <h3 class="editable">¡Piensa &nbsp;<span class="accent-text"> RED</span>!</h3>
        </div>
    
        <div class="row row-body">
            <div class="row-element col-sm-6 col-md-3">
                <div class="wrapper">
                    <img src="resources/image/dummyBuscar.png" alt="dummyBuscar">
                    <div class="appear flipper overlay">
                        <h3><span class="bold">1</span><br></h3></h3><h3 class="editable"> Realiza un Diagnóstico</h3>
                    </div>
                </div>
            </div>
            <div class="row-element col-sm-6 col-md-3">
                <div class="wrapper">
                    <img src="resources/image/dummyIdentificar.png" alt="dummyIdentificar">
                    <div class="appear flipper overlay">
                        <h3><span class="bold">2</span><br></h3></h3><h3 class="editable"> Identifica Oportunidades...</h3>
                    </div>
                </div>
                
            </div>
            <div class="row-element col-sm-6 col-md-3">
                <div class="wrapper">
                    <img src="resources/image/dummyEstrategia.png" alt="dummyEstrategia">
                    <div class="appear flipper overlay">
                        <h3><span class="bold">3</span><br></h3></h3><h3 class="editable"> Implementa Estrategias</h3>
                    </div>
                </div>
            </div>
            <div class="row-element col-sm-6 col-md-3">
                <div class="wrapper">
                    <img src="resources/image/dummyDespegar.png" alt="dummyDespegar">
                    <div class="appear flipper overlay">
                        <h3><span class="bold">4</span><br></h3></h3><h3 class="editable"> Despega tu proyecto</h3>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>