<footer>
    <div class="container-fluid row secc1">
        <div class="col-sm-12">
            <img src="resources/image/LogoRPsinfondo.png" alt="">
        </div>
    </div>

    <div class="container-fluid row secc2">
        <div class="col-sm-12 row">
            <a href="https://www.facebook.com/Red-Point-499124540478518/" target="_blank">
                <i class="fab fa-facebook-f"> </i>
            </a>
            <a href="https://twitter.com/search?q=RedPoint_AN&amp;src=typd&amp;lang=es" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="col-sm-12 row">
            Copyright © 2017 by Red Point. Todos los derechos reservados.
        </div>
    </div>
</footer>