$primary: #C41E2E;
$accent: #42C4AA;
$complementary: #EF5350;

$light-text: #EBE9EA;
$medium-text:#757575;
$dark-text: #000;
$background: #e2e2e2;
$form-background: #eb5865;
$placeholder-color: #893433;


$view-height: 100vh;
$view-width: 100vw;
$content-width: 100vw * 0.90;
